<form method="POST" [formGroup]="contactForm" (ngSubmit)="sendMail()">
    <div class="form-field">
        <label for=""></label><input type="text" formControlName="firstName">
    </div>
    <div class="form-field">
        <label for=""></label><input type="text" formControlName="lastName">
    </div>
    <div class="form-field">
        <label for=""></label><input type="email" formControlName="emailAddress">
    </div>
    <div class="form-field">
        <label for=""></label><input type="text" formControlName="message">
    </div>
    <input type="submit">
</form>

{{contactForm.value | json}}